.board {
  display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 500px;
   height: 400px;
   align-content: space-between;

}

.box{

  margin: 10px;
  height: 150px;
  min-width: 100px;
  width: 10%;
  background-color: grey;
  border: 6px solid grey;
  border-radius: 25px;

}
